################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/RemoRadi/AccelerIoT/bin
/RemoRadi/AccelerIoT/obj
/RemoRadi/DzuoolIoT/bin
/RemoRadi/DzuoolIoT/obj
/RemoRadi/GPIOManager/obj
/RemoRadi/GPIOManager/bin
/RemoRadi/RemoChassis/obj
/RemoRadi/RemoChassis/bin
